:root {
  --color-primary: #2b7a78;
  --color-primary-light: #3aafa9;
  --color-primary-dark: #17252a;
  --color-white-1: #feffff;
  --color-white-2: #def2f1;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0, .06);
  --line-light: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2); }

.container {
  height: 95vh;
  background-color: var(--color-white-1); }

.nav-bar {
  height: 12rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav-bar__logo {
    width: 5.5rem;
    height: 5.5rem;
    margin: 2rem;
    color: black; }

.header {
  font-size: 1.4rem;
  font-weight: 300;
  height: 95vh;
  color: white;
  background-color: var(--color-primary-light);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  .header__title {
    font-size: 12rem;
    font-weight: 200; }

.content {
  height: 140vh;
  background-color: var(--color-white-2); }

.parallax {
  background-image: url("../img/mountain-range2.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.quotes {
  height: 10rem;
  padding: 5rem 0;
  background-color: var(--color-white-1);
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .quotes__box {
    padding: 0 4rem;
    display: flex;
    flex-direction: column; }
    .quotes__box:last-child {
      flex: 0 0 50%; }
