:root {
  --color-primary: #2b7a78;
  --color-primary-light: #3aafa9;
  --color-primary-dark: #17252a;
  --color-white-1: #feffff;
  --color-white-2: #def2f1;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0, .06);
  --line-light: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2); }

.container {
  height: 95vh;
  background-color: var(--color-white-1); }

.header {
  font-size: 1.4rem;
  font-weight: 300;
  height: 105vh;
  color: white;
  background-color: var(--color-primary-light);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  .header__title {
    font-size: 12rem;
    font-weight: 200; }
  .header__img-1 {
    height: 3rem;
    width: 3rem;
    display: inline-block;
    position: absolute;
    fill: white;
    top: 30%;
    left: 10%; }
  .header__img-2 {
    height: 5rem;
    width: 5rem;
    display: inline-block;
    position: absolute;
    fill: white;
    top: 50%;
    right: 20%; }
  .header__img-3 {
    height: 8rem;
    width: 8rem;
    display: inline-block;
    position: absolute;
    fill: white;
    top: 35%;
    left: 20%; }
  .header__img-4 {
    height: 3rem;
    width: 3rem;
    display: inline-block;
    position: absolute;
    fill: white;
    top: 80%;
    left: 40%; }
  .header__img-5 {
    height: 8rem;
    width: 8rem;
    display: inline-block;
    position: absolute;
    fill: white;
    top: 80%;
    left: 70%; }
  .header__img-6 {
    height: 3rem;
    width: 3rem;
    display: inline-block;
    position: absolute;
    fill: white;
    top: 20%;
    left: 80%; }
  .header__img-7 {
    height: 5rem;
    width: 5rem;
    display: inline-block;
    position: absolute;
    fill: white;
    top: 70%;
    left: 10%; }
  .header__img-8 {
    height: 3rem;
    width: 3rem;
    display: inline-block;
    position: absolute;
    fill: white;
    top: 30%;
    left: 50%; }
  .header__img-9 {
    height: 5rem;
    width: 5rem;
    display: inline-block;
    position: absolute;
    fill: white;
    top: 75%;
    left: 80%; }

.section-content {
  background-color: var(--color-white-2);
  position: relative; }

.footer {
  height: 40vh;
  padding: 5rem 10rem;
  background-color: var(--color-grey-dark-1);
  color: var(--color-white-2); }
  .footer__content {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between; }

.section-climbers {
  background-color: white;
  color: black; }

.nav-bar {
  height: 12rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav-bar__logo {
    width: 7rem;
    height: 7rem;
    margin: 2rem;
    fill: white;
    cursor: pointer; }
  .nav-bar__btn {
    width: 6rem;
    height: 6rem;
    border: 3px solid white;
    background-color: transparent;
    text-align: center;
    margin: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    transition: all .5s; }
    .nav-bar__btn-line {
      height: .3rem;
      width: 4rem;
      display: block;
      background-color: white; }
      .nav-bar__btn-line:not(:last-child) {
        margin-bottom: 1rem; }
    .nav-bar__btn:hover {
      transform: scale(1); }

.message {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-content: flex-start; }
  .message__title {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1rem;
    padding: 4rem 0;
    z-index: 3; }

.articles {
  height: 95vh;
  padding: 7rem 0;
  background-color: var(--color-white-1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .2fr 1fr 1fr; }
  .articles__title {
    font-size: 3rem;
    font-family: inherit;
    font-weight: 700;
    color: var(--color-primary-light);
    grid-area: 1 / 1 / 2 / 3;
    justify-self: center; }
  .articles__box {
    margin: 0 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 5rem 0; }
  .articles__paragraph {
    width: 100%;
    color: black;
    margin-bottom: 1rem;
    line-height: 1.75rem;
    padding-bottom: 2rem; }

.btn-articles, .btn-articles:link, .btn-articles:visited {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  padding: .5rem 1.5rem;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  position: relative; }

.btn-articles::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: var(--shadow-dark);
  color: white;
  background-color: black;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: 0.4s background-color ease-in, 0.1s color; }

.btn-articles:hover::before {
  transform: scaleY(1); }

.spots {
  height: 100vh;
  padding: 4rem;
  background-color: var(--color-primary-dark);
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 2; }
  .spots__title {
    padding-bottom: 3rem;
    font-size: 4rem;
    font-weight: 400;
    align-self: center; }
  .spots__img {
    width: 15rem;
    height: 15rem;
    background-size: cover;
    border-radius: 3px; }
  .spots__place {
    padding: 3rem;
    display: flex;
    justify-content: space-around; }
    .spots__place-name {
      font-size: 1.8rem;
      font-family: inherit; }
  .spots__info {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 0 0 40%; }

.btn {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  text-align: center;
  border-radius: 20px;
  display: inline-block; }

.btn-api {
  display: inline-block; }

.climbers {
  height: 95vh;
  padding: 5rem;
  display: flex; }
