:root {
  --color-primary: #9dceca;
  --color-primary-light: #bee1dd;
  --color-primary-dark-1: #38555d;
  --color-primary-dark-2: #304d55;
  --color-secondary: #de8670;
  --color-white-1: #feffff;
  --color-white-2: #def2f1;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0, .06);
  --line-light: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2); }

.section-about {
  height: 100vh;
  background-color: var(--color-primary-light);
  z-index: 0;
  position: relative; }

.section-hikes {
  height: 100vh;
  background-color: var(--color-secondary);
  z-index: 0;
  position: relative; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  backface-visibility: hidden;
  font-size: 1.6rem;
  background-color: transparent;
  border: none;
  cursor: pointer; }

.btn-primary, .btn-primary:link, .btn-primary:visited {
  margin: 3rem 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  padding: .5rem 1.5rem;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.5s ease;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, black 50%, transparent 50%); }

.btn-primary:hover {
  background-position: 0 100%;
  color: #ffffff; }

.line {
  align-self: end;
  width: 50%;
  border-right: 1px solid white;
  margin-bottom: 4em;
  position: relative; }
  .line::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0 11px;
    border-color: white transparent transparent transparent;
    right: -1.2rem;
    bottom: 15rem;
    z-index: 100; }

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden;
  text-align: center; }
  .heading-primary--main {
    display: block;
    color: white;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 3.5rem; }
  .heading-primary--sub {
    display: block;
    color: var(--color-secondary);
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.2rem;
    line-height: 6rem; }
  .heading-primary--tertiary {
    display: block;
    color: var(--color-primary);
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.2rem;
    line-height: 6rem; }

.about {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-items: center; }
  .about__box {
    width: 30rem;
    margin: 5rem 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    z-index: 2; }
  .about__title {
    margin-bottom: 3rem; }
  .about__p:not(:last-child) {
    margin-bottom: 2rem; }

.about__graphic {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 20%;
  left: 0;
  z-index: 1000;
  fill: var(--color-secondary); }

.hikes {
  width: 100%;
  height: 100%;
  z-index: 1; }
  .hikes__box {
    width: 60%;
    padding: 5rem 0;
    margin-left: 5rem;
    display: flex;
    justify-content: flex-end; }
    .hikes__box--name {
      font-size: 1.5rem;
      font-weight: 700;
      margin: 2rem auto; }
    .hikes__box--individual {
      padding: 0 7rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .hikes__box--img {
      width: 13rem;
      height: 13rem;
      background-size: cover;
      border-radius: 3px;
      box-shadow: var(--shadow-dark); }
  .hikes__title {
    width: 15rem; }

.hikes-container {
  width: 100%;
  padding: 12.5rem 0;
  background-color: var(--color-primary-light);
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(100% 0, 50% 0, 0 100%, 100% 100%);
  clip-path: polygon(100% 0, 50% 0, 0 100%, 100% 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  z-index: 100;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(var(--color-primary-dark-1), var(--color-primary));
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.7s cubic-bezier(0.86, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: var(--color-primary);
  transform: translateX(1rem); }

.navigation__nav .navigation__list .navigation__link:active {
  opacity: 0;
  width: 0; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: var(--color-grey-dark-1);
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header {
  height: 100vh;
  background-color: var(--color-primary-light);
  position: relative; }
  .header__shader {
    background-color: var(--color-primary);
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 50% 100%, 0% 100%);
    display: flex;
    justify-content: center; }
  .header__title-box {
    padding: 10rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center; }
  .header__title {
    color: white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    backface-visibility: hidden;
    text-align: center; }
  .header__span {
    font-size: 2rem;
    color: white; }
