:root {
    --color-primary: #9dceca;
    --color-primary-light: #bee1dd;
    --color-primary-dark-1: #38555d;
    --color-primary-dark-2: #304d55;
    
    --color-secondary: #de8670;

    --color-white-1: #feffff;
    --color-white-2: #def2f1;


    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    
    --color-form-success: #55c57a;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0, .06);

    --line-light: 1px solid var(--color-grey-light-2);
}
$bp-largest: 75em; //1200px breakpoint variable
$bp-large: 68.75em; //1100px breakpoint variable
$bp-medium: 56.25em; //900px breakpoint variable
$bp-small: 37.5em; //600px breakpoint variable
$bp-smallest: 31.25em; //500px bp v

//trying to create a mixin that will minimize the code for icons with parallax in layout.scss
@mixin icon-size-small {
    height: 3rem;
    width: 3rem;
    display: inline-block;
    position: absolute;
    fill: white;
    @content;
}
@mixin icon-size-medium {
    height: 5rem;
    width: 5rem;
    display: inline-block;
    position: absolute;
    fill: white;
    @content;
}
@mixin icon-size-large {
    height: 8rem;
    width: 8rem;
    display: inline-block;
    position: absolute;
    fill: white;
    @content;
}


* {
    margin: 0;
    padding: 0;
}
//making all elemnts before and after inherit border box
*,
*::before,
*::after {
    box-sizing: inherit;
}
//global font size of 1rem = 10px (10px/16px = 62.5%)
html {
    box-sizing: border-box;
    font-size: 62.5%;

    // @media only screen and (max-width:$bp-large) {
    //     font-size: 50%;
    // }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-grey-dark-2);
    
}