.btn{
    &,
    &:link, 
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        transition: all .2s;
        position: relative;
        backface-visibility: hidden;
        font-size: 1.6rem;
        background-color: transparent;

        //change for the <button> element
        border: none;
        cursor: pointer;
    }
}

//button with cool effect
.btn-primary {
    &,
    &:link,
    &:visited {
        margin: 3rem 0;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.5rem;
        padding: .5rem 1.5rem;
        color: black;
        border:  2px solid black;
        cursor: pointer;
        transition: 0.5s ease;
        background-size: 100% 200%;
        background-image: linear-gradient(to top, black 50%, transparent 50%);
    }
    &:hover
    {
        background-position: 0 100%;
        color: #ffffff;
    }
}
.btn-secondary {
    &,
    &:link,
    &:visited {
        margin: 3rem 0;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.5rem;
        padding: .5rem 1.5rem;
        color: var(--color-secondary);
        border:  2px solid var(--color-secondary);
        cursor: pointer;
        transition: 0.5s ease;
        background-size: 100% 200%;
        background-image: linear-gradient(to top, var(--color-secondary) 50%, transparent 50%);
        text-align: center;
    }
    &:hover
    {
        background-position: 0 100%;
        color: #ffffff;
    }
}
////////////////////////////////////////////////////////////////
.line {
    align-self: end;
    width: 50%;
    border-right: 1px solid white;
    margin-bottom: 4em;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 11px 11px 0 11px;
        border-color: white transparent transparent transparent;
        right: -1.2rem;
        bottom: 15rem;
        z-index: 100;
    }
}
////////////////////////////////////////////////////////////////
.heading-primary {
    color: white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    backface-visibility: hidden;
    text-align: center;

    &--main {
        display: block;
        color: white;
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 3.5rem;
    }
    &--sub {
        display: block;
        color: var(--color-secondary);
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 1.2rem;
        line-height: 6rem;
    }
    &--tertiary {
        display: block;
        color: var(--color-primary);
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 1.2rem;
        line-height: 6rem;
    }
}
//////////////////////////////////////////////////////////////

.about {
    background-color: rgba(white, 0.8);
    width: 100%;
    height: 100%;
    -webkit-clip-path:polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-items: center;

    &__box {
        width: 30rem;
        margin: 5rem 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        z-index: 2;
    }
    &__title {
        margin-bottom: 3rem;
    }
    &__p {

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
}

.about__graphic {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 1000;
    fill: var(--color-secondary);
}
/////////////////////////////////////////////////////
.hikes {
    // background-color: var(--color-secondary);
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;

    &__box {
        width: 70%;
        padding: 5rem 0;
        display: flex;
        align-self: flex-end;
        justify-content: flex-end;

        &--name {
            font-size: 1.5rem;
            font-weight: 700;
            margin: 2rem auto;
        }

        &--individual {
            padding: 0 7rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &--individual span {
            font-size: 1rem;
            font-weight: 400;
        }
        &--img {
            width: 13rem;
            height: 13rem;
            background-size: cover;
            border-radius: 3px;
            box-shadow: var(--shadow-dark);
        }
    }
    &__title {
        width: 15rem;
        margin-bottom: 5rem;
    }
    
}

//can't seem to overlay text on clip path, so I'm putting clip on the container and pushing everything to the side of it
.hikes-container {
    width: 100%;
    padding: 12.5rem 0;
    background-color: var(--color-primary-light);
    width: 100%;
    height: 100%;
    -webkit-clip-path:polygon(100% 0, 50% 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 50% 0, 0 100%, 100% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

/////////////////////////////////////////////////////////////////////////
.bg-video {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .85;
    overflow: hidden;

    &__content {
        height: 100%;
        width: 100%;
        object-fit: cover;
        //allows for images to cover or fit over parent elements. fill fits things, but not the aspect ratio
    }
}

.quote {
    width: 100%;
    height: 100%;
    padding: 10rem;
    
    &__heading {
        font-size: 4rem;
        letter-spacing: 1rem;
    }
}
.quote span {
    float: right;
    font-size: 3rem;
    color: white;
    letter-spacing: 1rem;
    font-weight: 300;
}
///////////////////////////////////////////////////
.contact {
    width: 100%;
    height: 100%;
    padding: 5rem 0;
    position: relative;
    z-index: 0;

    &__left {
        height: 100%;
        width: 50%;
        background-color: var(--color-primary);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &__form {
        display: flex;
        justify-content: center;
        position: absolute;
        width:100%;
        z-index: 5;
    }
}
.form {
    flex: 0 0 50%;
    
    &__heading {
        margin: 8rem;
        width: 85%;
    }
    &__group:not(:last-child) {
        margin-bottom: 2rem;
        margin-left: 10rem;
    }
    
    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba(white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 85%;
        display: block;
        transition: all .3;


        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba(black, .1);
            border-bottom: 3px solid var(--color-form-success);
        }
        
        &:focus:invalid {
            border-bottom: 3px solid var(--color-primary-dark-1);
        }

        &::-webkit-input-placeholder {
            color: var(--color-grey-dark-1);
        }
    }
    // &__label {
    //     font-size: 1.2rem;
    //     font-weight: 700;
    //     margin-left: 2rem;
    //     margin-top: .7rem;
    //     display: block;
    //     transition: all .3;
    // }
    // &__input:placeholder-shown + &__label {
    //     opacity: 0;
    //     visibility: hidden;
    //     transform: translateY(-4rem);
    // }
}
.form:last-child {
    text-align: center;

}

////////////////////////////////////////////////////



