
//when doing responsive change journey part for nav bar
.nav-bar {
    height: 12rem;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    &__logo {
        width: 7rem;
        height: 7rem;
        margin: 2rem;
        fill: white;
        cursor: pointer;
    }

    // &__logo::before {
    //     content: "";
    //     background-color: white;
    //     -webkit-mask-image: url("../img/mountain-icon.svg");
    //     -webkit-mask-size: cover;
    //     mask-image: url("../img/mountain-icon.svg");
    //     mask-size: cover;
    //     background-image: none;
    // }

    &__btn {
        width: 6rem;
        height: 6rem;
        border: 3px solid white;
        background-color: transparent;
        text-align: center;
        margin: 2rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:  center;
        transition: all .5s;
        //centering span hamburger lines inside of button

        &-line {
            height: .3rem;
            width: 4rem;
            // margin-left: 
            display: block;
            background-color: white;
            // transition: all .3s cubic-bezier(.215,.61,.355,1);

            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        &:hover {
            transform: scale(1);
            
        }
    }
}

//////////////////////////////////////////////////////////////////
//parallax section probably won't use
.parallax {
    
    // &__header {
    //     background-image: url('../img/nat-4.jpg') ;
    //     height: 30%;
    //     background-attachment: fixed;
    //     background-position: center;
    //     background-repeat: no-repeat;
    //     background-size: cover;
        
    //     z-index: 1;
    // }

    // &__mountain {
    //     background-image: url('../img/mountain-range2.jpg') ;
    //     padding: 5rem 0;
    //     height: 60%;
    //     background-position: top;
    //     background-attachment: fixed;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     z-index: 0;
    // }
}
/////////////////////////////////////////////////////////////////////
//message section
.message {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    // position: absolute;
    // top: 0;
    // left: 0;
    
    &__title {
        font-size: 3rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1rem;
        padding: 4rem 0;
        z-index: 3;
    }
}

//////////////////////////////////////////////////////////////////////
//articles section
.articles {
    // margin-top: 10rem;
    height: 95vh;
    padding: 7rem 0;
    background-color: var(--color-white-1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .2fr 1fr 1fr;
    
    // display: flex;
    // align-items: center;
    // flex-wrap: wrap;
    // justify-content: space-evenly;

    //decided to go with flexbox and grid because I think it will work better for aligning the items the way I want
    &__title {
        font-size: 3rem;
        font-family: inherit;
        font-weight: 700;
        color: var(--color-primary-light);
        grid-area: 1 / 1 / 2 / 3;
        justify-self: center;
    }
    
    &__box{
        // padding: 0 4rem;
        margin: 0 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        padding: 5rem 0;
        
        // &:last-child {
        //     flex: 0 0 50%;
        // }
    }
    
    &__paragraph {
        width: 100%;
        color: black;
        margin-bottom: 1rem;
        line-height: 1.75rem;
        padding-bottom: 2rem;
    }
    &__btn {
        
    }
}

//articles button, creating a button that's black on white pages and on hover white with black background
.btn-articles {
    &,
    &:link,
    &:visited {
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.5rem;
        padding: .5rem 1.5rem;
        color: black;
        border:  2px solid black;
        // border-radius: 100px;
        cursor: pointer;
        
        position: relative;
    }

    //make background color fly up to the top of button and change color to white
    //for some reason it doesn't want to work with me
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        box-shadow: var(--shadow-dark);
        color: white;
        background-color: black;
        transform-origin: bottom;
        transform: scaleY(0);
        transition: 0.4s background-color ease-in, 0.1s color;
    }
    &:hover::before {
        // color: white;
        transform: scaleY(1);
    }
}


// .btn-articles:hover::after {
//     color: white;
// }

// &:active,
// &:focus{
//     transform: scaleY(1);
//     box-shadow: var(--shadow-dark);
// }




////////////////////////////////////////////////////////////////////
//spots section
.spots {
    height: 100vh;
    padding: 4rem;
    background-color: var(--color-primary-dark);
    color: white;
    display: flex;
    flex-direction: column;
    z-index: 2;

    &__title {
        padding-bottom: 3rem;
        font-size: 4rem;
        font-weight: 400;
        align-self: center;
    }
    &__img {
        width:  15rem;
        height: 15rem;
        background-size: cover;
        border-radius: 3px;
    }
    &__place {
        padding: 3rem;
        display: flex;
        justify-content: space-around;

        &-name {
            font-size: 1.8rem;
            font-family: inherit;
        }
    }
    // &__place:nth-child(3) {
    //     flex-direction: column-reverse;
    //     justify-content: space-around;
    //     flex-wrap: nowrap;
    // }

    &__info {
        // margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-self: center;
        flex: 0 0 40%;
    }

    &__desc {

    }
}

.btn {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
}
.btn-api {
    display: inline-block;
}


////////////////////////////////////////////////////
//section climbers
//think about using grid and having some parallax effect on the side (2 columns)
.climbers {
    height: 95vh;
    padding: 5rem;
    display: flex;
}



