.container {
    height: 95vh;
    background-color: var(--color-white-1);
}


.header {
    font-size: 1.4rem;
    font-weight: 300;
    height: 105vh;
    color: white;
    //change when finished test only
    background-color: var(--color-primary-light);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &__title {
        cursor: default;
        font-size: 12rem;
        font-weight: 200;
    }
    &__paragraph {
        // text-transform: uppercase;
        // letter-spacing: .2rem;
    }
    //using rellax.js to put smooth parallax effect on different shapes in the background
    
    
    &__img-1 {
        @include icon-size-small {
            top: 30%;
            left: 10%;
        }
    }
    &__img-2 {
        @include icon-size-medium {
            top: 50%;
            right: 20%;
        }
    }
    &__img-3 {
        @include icon-size-large {
            top: 35%;
            left: 20%;
        }
    }
    &__img-4 {
        @include icon-size-small {
            top: 80%;
            left: 40%;
        }
    }
    &__img-5 {
        @include icon-size-large {
            top: 80%;
            left: 70%;
        }
    }
    &__img-6 {
        @include icon-size-small {
            top: 20%;
            left: 80%;
        }
    }
    &__img-7 {
        @include icon-size-medium {
            top: 70%;
            left: 10%;
        }
    }
    &__img-8 {
        @include icon-size-small {
            top: 30%;
            left: 50%;
        }
    }
    &__img-9 {
        @include icon-size-medium {
            top: 75%;
            left: 80%;
        }
    }

}

.section-content {
    background-color: var(--color-white-2);
    position: relative;
}




.footer {
    height: 40vh;
    padding: 5rem 10rem;
    background-color: var(--color-grey-dark-1);
    color: var(--color-white-2);
    position: relative;
    z-index: 10;
//changed to logo
    // &__title {
    //     text-align: center;
    //     padding-bottom: 3rem;
    //     font-size: 4rem;
    //     font-family: inherit;
    //     font-weight: 400;
    // }
    &__content {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: space-between;

    }

}

.section-climbers {
    background-color: white;
    color: black;
    position: relative;
    
}

////////////////////////////////
/*
NOTES to take care of:
-fix overflow issue on parallax quotes image
-finish footer and create about page
-use javascript on navbar to change color depending on background
-integrate api

*/
.quote {
    height: 50vh;
    // padding: 10rem 0;
    background-image: linear-gradient(white, white, var(--color-grey-dark-1), var(--color-grey-dark-1));
    position: relative;
    // overflow: hidden;

    &__image-holder {
        width: 100%;
        height: 100%;
        // position: relative;
        z-index: 1;
    }
    &__img {
        
        z-index: 1;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    &__box {
        color: var(--color-white-2);
        font-size: 4rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        padding: 6rem;
    }
    &__box span {
        float: right;
        margin-top: 2rem;
    }
}