.container {
    height: 95vh;
    background-color: var(--color-white-1);
}


.header {
    font-size: 1.4rem;
    font-weight: 300;
    height: 105vh;
    color: white;
    //change when finished test only
    background-color: var(--color-primary-light);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__title {
        font-size: 12rem;
        font-weight: 200;
    }
    &__paragraph {
        // text-transform: uppercase;
        // letter-spacing: .2rem;
    }

}

.content {
    //guestimate for now
    height: 140vh;
    background-color: var(--color-white-2);
    position: relative;
}






