.section-about {
    height: 100vh;
    background-color: var(--color-primary-light);
    z-index: 0;
    position: relative;
}
.section-hikes {
    height: 100vh;
    background-color: var(--color-secondary);
    z-index: 0;
    position: relative;
}