.section-about {
    height: 100vh;
    background-color: var(--color-primary-light);
    z-index: 0;
    position: relative;
}
.section-hikes {
    height: 100vh;
    background-color: var(--color-secondary);
    z-index: 0;
    position: relative;
}
.section-bg-video {
    height: 70vh;
    padding: 5rem 0;
    // margin: 20rem 0;
    background-color: white;
    z-index: 0;
    position: relative;
}
.section-contact {
    height: 75vh;
    
    background-color: var(--color-primary-light);
}
