.homepage {
    height: 50vw;
    // background-image: url("../../img/mountain-range.jpg");
    background-image: linear-gradient(to right bottom, rgba($color-black, 0.2), rgba($color-black, 0.8)), url("../../img/mountain-range2.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);

    
    
    &__img {
        width: 100%;
    }

    &__description {
        width: 58rem;
        position: absolute;
        top: 30%;
        left:18%;

    }
}